
<% if @note.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@note.errors.count, "error") %>
      prohibited this note from being saved:
    </h3>
 
    <ul>
    <% @note.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="note-block">
  <input type="button" id="show" value="Create a new note" class="btn btn-primary">
  <div class="new-note-toggle">
    <h2>Create a new note</h2>
    <div class="line-dark"></div>
    <%= render partial: "form", locals: {note: @note} %>
  </div>
</div>

<div class="note-block">
  <h2>Your Notes</h2>
  <div class="line-dark"></div>
  <% if !@notes.empty? %>
    <% @notes.each do |note| %>
        <h3><%= note.title %></h3>

        <p>Created: <%= note.friendly_created_at %></p>
        <p><%= note.content %></p>
        <div class="inline-button">
          <%= link_to "Edit", edit_note_path(note), class: "btn btn-primary" %>
          </div>
        <div class="inline-button">
          <%= button_to "Delete", note_path(note), method: :delete, class: "btn btn-danger" %>
        </div>
        <div class="line-light"></div>
    <% end %>
  <% else %>
    <h4><%= "You don't have any notes yet. Why not start by writing a new one?" %></h4>
  <% end %>
</div>