<div class="note-block">
  <h2>Your Notes</h2>
  <%= link_to "New Note", new_project_note_path, class: "btn btn-primary" %>
  <div class="line-dark"></div>
  <% if @notes.empty? %>
     <h4><%= "You don't have any notes yet. Why not start by writing a new one?" %></h4>
  <% else %>
    <% @notes.each do |note| %>
      <h3><%= note.title %></h3>
      <p>Created: <%= note.friendly_created_at %> by <%= note.user.name %></p>
      <%= link_to "View", note_path(note), class: "btn btn-primary" %>
      <div class="line-light"></div>
    <% end %>
  <% end %>
</div>