<% if comment.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(comment.errors.count, "error") %>
      prohibited this comment from being saved:
    </h3>
 
    <ul>
    <% comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(comment) do |f| %>
  <%= f.text_area :content %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.hidden_field :task_id, value: @task.id %>
  <%= f.submit %>
<% end %>