<div class="col-md-4">
  <h3> <%= link_to task.name, task_path(task) %> </h3>
  <span class="overdue"> <%= "Overdue" if task.overdue? && !task.complete? %></span>
  <span class="complete"> <%= "Complete" if task.complete? %></span>
  <% if task.assigned_users.include?(current_user) %>
    <p class="collaborator-text"> Assigned to you </p>
  <% end %>
  <p> <%= task.description %> </p>
  <p> Created: <%= task.friendly_created_at %> </p>
  <p> Owner: <%= task.owner.name %> </p>
  <p> Due: <%= task.due_date %>  </p>
  <p> Assigned to: <% task.assigned_users.each do |user| %>
        <%= user.name %>,
          <% end %>
    </p>
  <p> Status: <%= task.status.capitalize %> </p>
  <p> <%= link_to "#{task.comments.count} Comments", task_path(task) %> </p>
  <p> Belongs to: <%= link_to task.project.name, project_path(task.project) %> </p>
  <div class="inline-button">
    <%= link_to "View task", task_path(task), class: "btn btn-default" %>
  </div>
  <div class="inline-button">
    <%= link_to "Edit task", edit_task_path(task), class: "btn btn-default" %>
  </div>
  <div class="inline-button">
    <%= render partial: "task_complete_form", locals: {task: task} unless task.status == "complete" %>
  </div>
 <div class="line-light"> </div>
</div>
<% if task.index_check(index) %>
  <div class="clearfix"></div>
<% end %>

