<h1>Project Tasks#Index</h1>

<%= render partial: "form", locals: {project: @project, task: @task} %>


<h3> <%= @project.name %> </h3>
<% @project.tasks.each do |task| %>
  <h4><%= task.name %></h4>
  <p><%= task.description %></p>
  <p>Due: <%= task.due_date %></p>
  <p>Status: <%= task.status %></p>
  <p>Priority: <%= task.priority%></p>
  <p>Tags: <% task.tags.each do |tag| %>
    <%= tag.name %>, 
    <% end %></p>
  <p><%= link_to "Edit Task", project_task_path(@project, task)%></p>
  <p><%= link_to "Delete Task", project_task_path(@project, task), method: :delete%></p>
<% end %>

