<h1><%= @project.name %> Tasks</h1>

<%= render partial: "form", locals: {project: @project, task: @task} %>

<table class="table">

  <thead>
    <td><h4>Name</h4></td>
    <td class="mobile-hide"><h4>Description</h4></td>
    <td><h4>Due</h4></td>
    <td class="mobile-hide"><h4>Status</h4></td>
    <td><h4>Priority</h4></td>
    <td class="mobile-hide"><h4>Tags</h4></td>
  </thead>
    
  <% @tasks.each do |task| %>
    <tr>
      <td> <%= task.name %> </td>
      <td class="mobile-hide"> <%= task.description %> </td>
      <td> <%= task.due_date %> </td>
      <td class="mobile-hide"> <%= task.status %> </td>
      <td> <%= task.priority %> </td>
      <td class="mobile-hide"> <% task.tags.each do |tag| %> <%= tag.name%> <% end %> </td>
      <td> <%= link_to "Edit Task", project_task_path(@project, task), class: "btn btn-sm btn-primary"%> </td>
      <td> <%= button_to "Delete Task", project_task_path(@project, task), method: :delete, class: "btn btn-sm btn-danger" %> </td>
    </tr>

  <% end %>

</table>
