<h1>All Tasks</h1>

<%= render partial: "tasks/quick_add_form", locals: {task: @task} %>

<div class="task-block">
<% if @tasks.empty? %>
    <h4>It lookss like you don't have any tasks. Why not create new one?</h4>
  <% else %>
    <table class="table">

      <thead>
        <td><h4>Task</h4></td>
        <td><h4>Project</h4></td>
        <td class="mobile-hide"><h4>Description</h4></td>
        <td class="mobile-hide"><h4>Due Date</h4></td>
      </thead>
        
      <% @tasks.each do |task| %>
        <tr>
          <td> <%= link_to task.name, project_task_path(task.project, task) %> </td>
          <td> <%= link_to task.project.name, project_path(task.project)%> </td>
          <td class="mobile-hide"> <%= task.description %> </td>
          <td class="mobile-hide"> <%= task.due_date %> </td>
          <td class="td-button"> <%= link_to "Edit", edit_project_task_path(task.project, task), class: "btn btn-sm btn-primary td-button" %> </td>
          <td class="td-button"> <%= button_to "Delete", project_task_path(task.project, task), method: :delete, class: "btn btn-sm btn-danger" %> </td>

        </tr>

      <% end %>

    </table>
  <% end %>

</div>