<div class="default-block">
  <%= render partial: "messages/errors", locals: {resource: @task} %>
  <h2>New Task</h2>
  <div class="line-dark"></div>
    <%= form_for [@project, @task] do |f| %>
      <div class="form-group">
        <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
          <%= f.text_field :description, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :due_date %>
          <%= f.date_select(:due_date, :order => [:month, :day, :year]) %>
      </div>
      <div class="form-group">
        <%= f.label :assigned_users, value: "Assign Users", class: "label-block" %>
          <%= f.collection_check_boxes(:assigned_user_ids, @task_users, :id, :name, html: {class: "form-control"})%>
      </div>
      <div class="form-group">
        <%= f.label :tag_names, "Tags (Comma seperated)" %>
          <%= f.text_field :tag_names, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.hidden_field :project_id, value: @project.id %>
        <%= f.hidden_field :owner_id, value: @user.id %>
        <%= f.submit class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>