<div class="default-block">
  <%= render partial: "messages/errors", locals: {resource: @task} %>
  <h2>Quick Add Task</h2>
    <div class="line-dark"></div>
    <%= form_for(@task, {url: post_quick_new_task_path, controller: "tasks", action: "create", method: "post", html: {class: "form-inline"}}) do |f| %>
      <div class="form-group">
        <%= f.label :name, class: "label-block"%>
          <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description, class: "label-block" %>
          <%= f.text_field :description, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :due_date, class: "label-block" %>
          <%= f.date_select(:due_date, :order => [:month, :day, :year]) %>
      </div>
      <div class="form-group">
        <%= f.label :tag_names, value: "Tags (Comma seperated)", class: "label-block" %>
          <%= f.text_field :tag_names, class: "form-control"%>
      </div>
      <div class="form-group project-select">
        <%= f.label :project_id, "Project", class: "label-block"  %>
          <%= collection_select(:task, :project_id, @projects, :id, :name, { include_blank: true }) %>
      </div>
      <div class="form-group">
        <%= f.hidden_field :owner_id, value: @user.id %>
        <%= f.submit class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>




