<div class="row">

  <div class="col-md-4">

    <div class="default-block">
      <h2><%= @task.name %></h2>
      <div class="line-dark"></div>
      <p> Created: <%= @task.friendly_created_at %> by <%= @task.owner.name %></p>
      <p> Due: <%= @task.due_date %> </p>
      <p> Status: <%= @task.status %></p>
      <p> Assigned to: <% @assigned_users.each do |user| %>
        <%= user.name %>,
          <% end %>
      </p>
      <p> Tags: <%@tags.each do |tag| %> 
          <%= tag.name %>,
          <% end %>
      </p>
      <p><%= @task.description %></p>
      <div class="inline-button">    
        <%= link_to "Edit Task", edit_task_path(@task), class: "btn btn-sm btn-primary" %>
      </div>
      <div class="inline-button">
        <%= render partial: "tasks/task_complete_form", locals: {task: @task} unless @task.complete? %>
      </div>
      <div class="inline-button">
        <%= button_to "Delete Task", task_path(@task), method: :delete, class: "btn btn-sm btn-danger" %>
        </div>
    </div> <!-- default block end  -->

    <div class="default-block">
      <%= render partial: "messages/errors", locals: {resource: @comment} %>
      <h3>New Comment</h3>
      <div class="line-dark"></div>
      <%= render partial: "comments/new_form", locals: {comment: @comment} %>
    </div> <!-- default block end  -->

  </div> <!-- col-md-4 end -->

  <div class="col-md-8">
    <div class="default-block">
      <h3>Comments</h3>
      <div class="line-dark"></div>
      <% @comments.each_with_index do |comment, index| %>
        <%= render partial: "comments/comment", locals: {comment: comment, index: index, col: ""} %>
      <%end %>
    </div> <!-- default block end  -->
  </div> <!-- col-md-8 end -->

</div> <!-- Row end -->
