<div class="task-block">
  <div class="row">
      <div class="col-md-12">
        <h2><%= @task.name %></h2>
       
      </div>
      <div class="col-md-3">
        <p> Created: <%= @task.friendly_created_at %></p>
        <p> Due: <%= @task.due_date %> </p>
        
      </div>

      <div class="col-md-3">
        <p> Status: <%= @task.status %></p>
        <p> Priority: <%= @task.priority %> </p>
        <p> <%@task.tags.each do |tag| %> 
            <%= tag.name %>,
            <% end %>
        </p>
      </div>

      <div class="col-md-3">
        <p><%= @task.description %></p>
      </div>

      <div class="col-md-3">
        <div class="inline-button">
          <%= link_to "Back to Project", project_path(@task.project), class: "btn btn-sm btn-default td-button" %>
        </div>
        <div class="inline-button">    
          <%= link_to "Edit Task", edit_task_path(@task), class: "btn btn-sm btn-primary td-button" %>
        </div>
      </div>

    </div> <!-- Row end -->
</div>

<div class="default-block">
  <%= render partial: "messages/errors", locals: {resource: @comment} %>
  <div class="row">
  
    <div class="col-md-4">
      <h3>New Comment</h3>
      <div class="line-dark"></div>
      <%= render partial: "comments/form", locals: {comment: @comment} %>
    </div>

    <div class="col-md-8">
      <h3>Task Comments</h3>
      <div class="line-dark"></div>
      <% @comments.each do |comment| %>
        <div id="<%= comment.id%>"><p> Posted: <%= comment.friendly_created_at %> by <%= comment.user.name %></p>
          <p> <%= comment.content %></p>
          <div class="inline-button">
            <%= link_to "Edit", edit_comment_path(comment), class: "btn btn-sm btn-primary" %> 
          </div>
          <div class="inline-button">    
            <%= button_to "Delete", comment_path(comment), method: :delete, class: "btn btn-sm btn-danger" %>
          </div>
          <div class="line-light"></div>
        </div>
      <% end %>
    </div>

  </div>
</div>