<div class="default-block">
  <div class="row">
    <div class="col-md-3">
      <h2>Tasks</h2>
      <% @tasks1.each do |task| %>
        <% if task.nil? %>
          <p>No results matched your tag query.</p>
        <% else %>
          <p><%= link_to task.name, project_task_path(task.project, task) %></p>
        <% end %>
      <% end %>
      <% @tasks2.each do |task| %>
        <% if task.nil? %>
          <p>No results matched your keyword query.</p>
        <% else %>
          <p><%= link_to task.name, project_task_path(task.project, task) %></p>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-3">
      <h2>Projects</h2>
      <% @projects.each do |project| %>
        <% if project.nil? %>
        <p>No results matched your query.</p>
        <% else %>
        <p><%= link_to project.name, project_path(project) %></p>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-3">
      <h2>Notes</h2>
      <% @notes.each do |note| %>
        <% if note.nil? %>
        <p>No results matched your query.</p>
        <% else %>
        <p><%= link_to note.name, note_path(note) %></p>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-3">
      <h2>Comments</h2>
      <% @comments.each do |comment| %>
        <% if comment.nil? %>
        <p>No results matched your query.</p>
        <% else %>
        <p><%= link_to comment.name, project_task_path(comment.task.project, comment.task) %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>