<h3> All Users</h3>


<table class="table">
<thead>
  <td>ID</td>
  <td>Name</td>
  <td>Role</td>
  <td>Projects</td>
  <td>Tasks</td>
  <td>Options</td>
</thead>
<% @users.each do |user| %>
  <tr>
    <td>
      <%= user.id %>
    </td>
    <td>
      <%= user.name %>
    </td>
    <td>
      <%= user.role %>
    </td>
    <td>
      <%= user.projects.count %>
    </td>
    <td>
      <%= user.tasks.count %>
    </td>
    <td>
      <%= link_to "Edit User", profile_path(user), class: "btn btn-primary" %>
    </td>
  </tr>
<% end %>

</table>