<h1>Your Stats</h1>

<h3> <%= link_to "#{@user.projects.count} projects", projects_path %></h3>
  <h5> <%= @user.projects.active.count %> active</h5>
  <h5> <%= @user.projects.complete.count %> complete</h5>
  <h5> <%= @user.projects.on_hold.count %> on hold</h5>

<h3> <%= link_to "#{@user.all_user_tasks.count} tasks", all_tasks_projects_path %></h3>
  <h5> <%= @user.tasks.active.count %> active</h5>
  <h5> <%= @user.tasks.complete.count %> complete</h5>
  <h5> <%= @user.tasks.on_hold.count %> on hold</h5>

<h3> <%= link_to "#{@user.notes.count} notes", notes_path %></h3>

<h3> <%= link_to "#{@user.comments.count} comments", comments_path %></h3>

<h3> <%= link_to "#{@user.tags.count} tags", tags_path %></h3>