<div class="header">
  <div class="container">
    <h1>Home</h1>
  </div>
</div>

<div class="container">
  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
  <div class="default-block">
    
    <h2>Your Stats</h2>
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <h3> <%= link_to "#{@user.projects.count} projects", projects_path %></h3>
        <%= link_to "Active Projects ( #{@active} )", projects_path, class: "btn btn-warning btn-margin" %> 
        <%= link_to "Complete Projects ( #{@complete} )", complete_projects_path, class: "btn btn-success btn-margin" %>
        <%= link_to "Overdue Projects ( #{@overdue} )", overdue_projects_path, class: "btn btn-danger btn-margin" %>
      </div>
        <div class="col-sm-4 col-md-3">
        <h3> <%= link_to "#{@user.tasks.count} tasks", tasks_path %></h3>
        <%= link_to "Active Projects ( #{@active} )", projects_path, class: "btn btn-warning btn-margin" %> 
        <%= link_to "Complete Projects ( #{@complete} )", complete_projects_path, class: "btn btn-success btn-margin" %>
        <%= link_to "Overdue Projects ( #{@overdue} )", overdue_projects_path, class: "btn btn-danger btn-margin" %>
      </div>
      <div class="col-sm-4 col-md-6">
        <h3> Recent Comments </h3>
          <h5> <%= @user.tasks.active.count %> active</h5>
          <h5> <%= @user.tasks.complete.count %> complete</h5>
      </div>
    </div>
  </div>
</div>