
<div class="container">
  <div class="default-block">
    <div class="row">
      <div class="col-md-3">
        <h2>Tasks</h2>
        <% if @tasks1.empty? %>
          <p>No tasks matched your tag query.</p>
        <% else %>
          <% @tasks1.each do |task| %>
            <p><%= link_to task.name, project_task_path(task.project, task) %></p>
          <% end %>
        <% end %>

        <% if @tasks2.empty? %>
          <p>No tasks matched your keyword query.</p>
        <% else %>
          <% @tasks2.each do |task| %>
            <p><%= link_to task.name, project_task_path(task.project, task) %></p>
          <% end %>
        <% end %>
      </div>

      <div class="col-md-3">
        <h2>Projects</h2>
        <% if @projects.empty? %>
          <p>No projects matched your keyword query.</p>
        <% else %>
          <% @projects.each do |project| %>
            <p><%= link_to project.name, project_path(project) %></p>
          <% end %>
        <% end %>
      </div>

      <div class="col-md-3">
        <h2>Notes</h2>
        <% if @notes.empty? %>
          <p>No notes matched your keyword query.</p>
        <% else %>
          <% @notes.each do |note| %>
            <p><%= link_to note.name, note_path(note) %></p>
          <% end %>
        <% end %>
      </div>

      <div class="col-md-3">
        <h2>Comments</h2>
        <% if @comments.empty? %>
          <p>No comments matched your keyword query.</p>
        <% else %>
          <% @comments.each do |comment| %>
            <p><%= link_to comment.name, comment_path(comment) %></p>
          <% end %>
        <% end %>
      </div>

    </div> <!-- Row -->
  </div> <!-- default block -->
</div> <!-- container -->