<%= form_for(project) do |f| %>
  <div class="form-group">
    <%= f.label :collaborators, "Add users to collaborate by email, comma seperated" %>
      <%= f.text_field :collaborator_emails, value: nil, class: "form-control"%>
  </div>
  <div class="form-group">
  <%= f.hidden_field :project_id, value: project.id %>
  <%= f.hidden_field :owner_id, value: @user.id %>
  <%= f.submit "Add Users", class: "btn btn-primary"%>
  </div>
<% end %>