<div class="row">
  <div class="col-xs-4">
    <p><%= user_project.collaborator.name %> (<%= user_project.permission %>)</p>
    <%= render partial: "delete_collaborator_form", locals: {person: user_project.collaborator} %>
  </div>

  <div class="col-xs-7">
    <%= form_for(user_project, url: edit_user_project_permission_path ) do |f| %>
    <div class="form-group inline">
      <%= f.label :permission, class: "label-block" %>
        <%= f.select :permission, UserProject.permissions.collect {|k,v| k}, selected: user_project.permission %>
    </div>
    <div class="form-group inline">
      <%= f.hidden_field :project_id, value: project.id %>
      <%= f.hidden_field :id, value: user_project.id %>
      <%= f.submit "Update Permission", class: "form-control btn-sm btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
<div class="line-light"></div>

