<div class="row">
  <div class="col-xs-5">
    <div class="inline">
      <dvi class="inline"><%= User.find_by(id: user_project.collaborator_id).name %></p></dvi>
      <div class="inline">
      <%= form_for(user_project.collaborator, url: project_delete_collaborator_path(project), method: :post) do |f|%>
        <%= f.hidden_field :id %>
        <%= f.submit "Remove", class: "btn btn-xs btn-danger inline" %>
      <% end %>
    </div>
      <p> Permission: <%= user_project.permission %></p>
    </div>
  </div>

  <div class="col-xs-5">
    <%= form_for(user_project, url: edit_user_project_permission_path ) do |f| %>
    <div class="form-group inline">
      <%= f.label :permission, class: "label-block" %>
        <%= f.select(:permission) do %>
          <% UserProject.permissions.each do |key,value| %>
          <%= content_tag(:option, key.capitalize, value: key) %>
            <% end %>
        <% end %>
    </div>
      <%= f.hidden_field :project_id, value: project.id %>
      <%= f.hidden_field :id, value: user_project.id %>
      <%= f.submit "Update Permission", class: "form-control btn-sm btn-primary" %>
    <% end %>
  </div>
</div>