<div class="row">
  <div class="col-xs-5">
    <div class="inline">
      <%= form_for(collaborator, url: project_delete_collaborator_path(project), method: :post) do |f|%>
        <%= f.hidden_field :id %>
        <%= f.submit "x", class: "btn btn-xs btn-danger inline" %>
      <% end %>
    </div>
    <div class="inline"><p><%= collaborator.name %> <%= user_project.permission %> </p></div>
  </div>  
  <div class="col-xs-7">
    <div class="inline">
        <%= form_for(user_project, url: edit_user_project_permission_path ) do |f| %>
          <%= f.label :permission, class: "label-block" %>
            <%= f.select(:permission) do %>
              <% UserProject.permissions.each do |key,value| %>
              <%= content_tag(:option, key.capitalize, value: key) %>
                <% end %>
            <% end %>
          <%= f.hidden_field :project_id, value: project.id %>
          <%= f.hidden_field :id, value: user_project.id %>
          <%= f.submit class: "form-control" %>
        <% end %>
    </div>
  </div>  
</div>