<%= form_for(project) do |f| %>
  <div class="form-group">
  <%= f.label :name, class: "control-label"%>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.label :description, class: "control-label"%>
    <%= f.text_field :description,  class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.label :due_date, class: "control-label"%>
    <%= f.date_select :due_date, :order => [:month, :day, :year], class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :collaborators, "Collaborators (Email address, comma seperated)" %>
      <%= f.text_field :collaborator_emails, class: "form-control"%>
  </div>
  <div class="form-group">
  <%= f.label :notes, "Add a note", class: "control-label"%><br/>
    <%= f.fields_for :notes do |note_field| %>
    Title:
    <%= note_field.text_field :title, class: "form-control" %><br/>
    <%= note_field.text_area :content, rows: 3, class: "form-control" %>
    <%= note_field.hidden_field :user_id, value: @user.id %>
  <% end %>
  </div>
  <div class="form-group">
  <%= f.hidden_field :owner_id, value: @user.id %>
  <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>