<div class="col-md-4">
  <h3> <%= link_to project.name, project_path(project) %> </h3>
  <span class="overdue"> <%= "Overdue" if project.overdue? && !project.complete?%></span>
  <% if project.owner == current_user %>
    <p class="owner-text"> You're an owner </p>
  <% else %>
    <p class="collaborator-text"> You're a collaborator</p>
  <% end %>
  <p> <%= project.description %> </p>
  <p> Created: <%= project.friendly_created_at %> </p>
  <p> Due: <%= project.due_date %> </p>
  <p> Status: <%= project.status.capitalize %> </p>
  <p> Collaborators: <% project.collaborators.each do |person| %> <%= person.name %> <%end%> </p>
  <p> <%= link_to "#{project.comments.count} Comments", project_comments_path(project)%> </p>
  <div class="inline-button">
    <%= link_to "View Project", project_path(project), class: "btn btn-default" %>
  </div>
  <div class="inline-button">
    <%= link_to "Edit Project", edit_project_path(project), class: "btn btn-default" %>
  </div>
  <div class="inline-button">
    <%= link_to "View Tasks", project_tasks_path(project), class: "btn btn-default" %>
  </div>
 <div class="line-light"> </div>
</div>
<% if project.index_check(index) %>
  <div class="clearfix"></div>
<% end %>

