<div class="col-xs-12 col-sm-6 col-md-4">
  <h3> <%= link_to project.name, project_tasks_path(project) %> </h3>
  <p> <%= project.description %> </p>
  <p> Created: <%= project.created_at %> </p>
  <p> Due: <%= project.due_date %> </p>
  <p> Status: <%= project.status.capitalize %> </p>
  <div class="inline-button">
    <%= link_to "Edit Project", edit_project_path(project), class: "btn btn-primary" %>
  </div>
  <div class="inline-button">
    <%= link_to "View Tasks", project_tasks_path(project), class: "btn btn-default" %>
  </div>
 <div class="line-light"> </div>
</div>

