<h2>Complete Projects</h2>

<% @projects.each do|project| %>
  <h3> <%= link_to project.name, project_path(project) %> </h3>
  <p> <%= project.description %> </p>
  <p> <%= project.due_date %> </p>
  <p> <%= project.status %> </p>
  <p> <%= link_to "Project Tasks", project_tasks_path(project)%> </p>
<% end %>
