
  <div class="row">
    <div class="col-md-6">
      <div class="default-block">
      <h2>Edit Project</h2>
        <div class="line-dark"></div>
        <%= render partial: "messages/errors", locals: {resource: @project} %>
        <%= render partial: "edit_form", locals: {project: @project} %>
      </div>
    </div>
    <div class="col-md-6"> 
      <div class="default-block">
        <h3>Edit Collaborators</h3>
        <div class="line-dark"></div>
        <% @project.collaborators.each do |person| %>
          <div class="inline"><p><%= person.name  %></p></div>
            <div class="inline">
            <%= form_for(person, url: project_delete_collaborator_path(@project), method: :post) do |f|%>
              <%= f.hidden_field :id %>
              <%= f.submit "x", class: "btn btn-xs btn-danger inline" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>