<div class="project-block">
  <h2>Project Quick Add</h2>
  <%= render partial: "quick_add_form", locals: {project: @project} %>
</div>

<div class="project-block">
  <h2>Active Projects</h2>
  <div class="line-dark"> </div>
  <% @projects.each do|project| %>
    <h3> <%= link_to project.name, project_tasks_path(project) %> </h3>
    <p> <%= project.description %> </p>
    <p> Created: <%= project.friendly_date_time %> </p>
    <p> Due: <%= project.due_date %> </p>
    <p> Status: <%= project.status.capitalize %> </p>
    <div class="inline-button">
      <%= link_to "Edit", edit_project_path(project), class: "btn btn-primary" %>
    </div>
    <div class="inline-button">
      <%= link_to "View Tasks", project_tasks_path(project), class: "btn btn-primary" %>
    </div>
    <div class="line-light"> </div>
  <% end %>
</div>

