<% if @project.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@project.errors.count, "error") %>
      prohibited this project from being saved:
    </h3>
 
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="default-block">
  <h2>Project Quick Add</h2>
  <%= render partial: "quick_add_form", locals: {project: @project} %>
</div>

<div class="project-block">
  <h2>Active Projects</h2>
  <div class="line-dark"> </div>
  <% if @projects.empty? %>
    <h4><%= "You don't have any projects yet. Why not start by creating a new one?" %></h4>
  <% else %>
    <div class="row">
      <%= render @projects %>
    </div>
    
  <% end %>
</div>

