<h3> <%= @project.name %> </h3>
<p> <%= @project.description %> </p>
<p> <%= @project.due_date %> </p>
<p> <%= @project.status %> </p>

<%= render partial: "form", locals: {project: @project} %>

<p> <%= button_to "Delete Project", project_path(@project), method: :delete, class: "btn btn-default"%> </p>
