<%= render partial: "tasks/sub_nav", locals: {project: @project, task: @task} %>

<div class="project-block">
  <h2>Active Tasks</h2>
  <h4><%= @tasks.count%> Tasks</h4>

  <div class="line-dark"></div>
  <div class="row">
    <% @tasks.each do |task| %>
      
        <div class="col-md-4">
          <h3><%= task.name %></h3>
          <p><%= task.description %></p>
          <p> Owner: <%= task.user.name %></p>
          <p> Created on:<%= task.friendly_created_at %></p>
          <p> Due: <%= task.due_date %> </p>
          <p> Status: <%= task.status %></p>
          <p> Priority: <%= task.priority %> </p>
          <div class="inline-button">
            <%= link_to "View Task", project_task_path(task.project, task), class: "btn btn-sm btn-default td-button" %> 
          </div>
          <div class="inline-button">    
            <%= link_to "Edit Task", edit_project_task_path(task.project, task), class: "btn btn-sm btn-primary td-button" %>
          </div>
          <div class="line-light"></div>
        </div> <!-- column end -->
      
    <% end %>
  </div> <!-- row end -->
</div>