<%= render partial: "tasks/new_project_task", locals: {project: @project, task: @task} %>

<div class="project-block">
<h2><%= @project.name %> Tasks</h2>
<div class="line-dark"></div>
<table class="table">

  <thead>
    <td><h4>Name</h4></td>
    <td class="mobile-hide"><h4>Description</h4></td>
    <td class="mobile-hide"><h4>Due</h4></td>
    <td class="mobile-hide"><h4>Status</h4></td>
    <td class="mobile-hide"><h4>Priority</h4></td>
    <td class="mobile-hide"><h4>Tags</h4></td>
  </thead>
    
  <% @tasks.each do |task| %>
    <tr>
      <td> <%= task.name %> </td>
      <td class="mobile-hide"> <%= task.description %> </td>
      <td class="mobile-hide"> <%= task.due_date %> </td>
      <td class="mobile-hide"> <%= task.status %> </td>
      <td class="mobile-hide"> <%= task.priority %> </td>
      <td class="mobile-hide"> <% task.tags.each do |tag| %> <%= tag.name%> <% end %> </td>
      <td> <%= link_to "View Task", project_task_path(@project, task), class: "btn btn-sm btn-default" %> </td>
      <td> <%= link_to "Edit Task", edit_project_task_path(@project, task), class: "btn btn-sm btn-primary"%> </td>
      
    </tr>

  <% end %>

</table>
</div>