<% if tag.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(tag.errors.count, "error") %>
      prohibited this tag from being saved:
    </h3>
 
    <ul>
    <% tag.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(tag) do |f| %>
  <%= f.label :name %>
    <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
