<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Rails PM", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li><%= link_to "Home", root_path %></li>
        <% if current_user && user_signed_in? %>
          <% if current_user.admin? %>
            <%= render "/admin/dashboard/nav" %>
          <% end %>
          <li><%= link_to "Projects", projects_path %></li>
          <li><%= link_to "Comments", comments_path %></li>
          <li><%= link_to "Tags", tags_path %></li>
          <li><%= link_to "Responsibilities", responsibilities_path %></li>
          <li><%= link_to "Notes", notes_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      <ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="notice"><%= notice %></div>
<div class="alert"><%= alert %></div>