<!DOCTYPE html>
<html>
  <head>
    <title>Rails PM</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= render "navs/nav_base"%>
    <div class="header">
      <div class="container">
        <% if params[:controller] == "users/registrations" && params[:action] == "new" %>
          <h1>Sign Up</h1>
        <% elsif params[:controller] == "devise/sessions" && params[:action] == "new"%>
          <h1>Login</h1>
        <% elsif params[:controller] == "devise/passwords" %>
          <h1>Reset Password</h1>
        <% else %>
          <h1>Rails PM</h1>
        <% end %>
      </div>
    </div>
    <div class="container">
        <%= render "layouts/flash_block" %>
        <%= yield %>
      </div>
  </body>
</html>
