<!DOCTYPE html>
<html>
  <head>
    <title>Rails PTM</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <%= render "navs/nav_base"%>
    <div class="header">
      <div class="container">
       <h1>Home</h1>
      </div>
    </div>
    <%= yield %>
    

  </body>
</html>

