<!DOCTYPE html>
<html>
  <head>
    <title>Projects - Rails PM</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= render "navs/nav_base"%>
    <div class="header">
      <div class="container">
        <h1>Projects</h1>
      </div>
    </div>
    <%= render "navs/projects_sub_nav" unless @project.nil? || @project.id.nil? %>
    <div class="container">
     <%= render "layouts/flash_block" %>
      <%= yield %>
    </div>
  </body>
</html>


